<h1> Homepage </h1>

<form action="/square/new">
<label for="input_var">Enter number to square</label>
<input id = "input_var" type="text" name="input_var">
<button> Calculate square </button>
</form>
